
<div class="container">
  <div class="col-lg-12">
    <h1>Video Call</h1>

    <button class="btn btn-primary" (click)="initiateCall()">Call</button>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#callModal">
      Launch demo modal
    </button>

    <div class="row mt-3">
      <div class="col-lg-6 text-center border-1">
        <video id="video-preview-self" class="w-100 h-100"></video>
      </div>
      <div class="col-lg-6 text-center border-1">
        <video id="video-preview-remote" class="w-100 h-100"></video>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Calling...</p>
</ngx-spinner>


<div class="modal fade" id="callModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="callModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Video Call</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Reject</button>
        <button type="button" class="btn btn-success">Accept</button>
      </div>
    </div>
  </div>
</div>
